@using AlloyTraining.Models.ViewModels
@using AlloyTraining.Models.Pages
@model IPageViewModel<SitePageData>
@{
    // nest the left navigation inside the root layout
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}
<div class="row">
    <div class="span4">
        @RenderSection("_LeftNavigationMenu", required: false)
    </div>
    <div class="span8">
        @RenderBody()
    </div>
</div>
@Html.Partial("_LeftNavigationMenu", Model)